
table th, table td{
     	border:0 solid #b6b0b0;
    padding:5px 8px;
    text-align:center;
}
.row2,.row4,.row6{
    background-color:rgb(247, 158, 237);
}
table{
    background-color:rgb(232, 195, 240);
    position:absolute;
    top:37%;
    left:35%;
   
}

body{
    font-family:"Helvetica Neue";
    background-color: azure;
    padding:50px;
   
}

h1{
    color: darkblue;
    position:absolute;
    top:20% ;
    left:40%;
}
.column{
    background :hwb(278 65% 0%) ;
}




