* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}

body {
  background-image: url("https://plus.unsplash.com/premium_photo-1664547606956-22749d0e0d77?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8bmF0dXJlfGVufDB8fDB8fHww");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

.quote-box {
  background: #fff;
  width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
}

.quote-box h1 {
  font-size: 32px;
  margin-bottom: 40px;
}

.quote-box blockquote {
  padding-top: 25px;
  font-size: 26px;
  min-height: 110px;
}

.quote-box blockquote::before,
.quote-box blockquote::after {
  content: '"';
}

.quote-box span {
  display: block;
  margin-top: 10px;
  float: right;
  position: relative;
}

.quote-box span::before {
  content: '';
  width: 20px;
  height: 2px;
  background: rgb(21, 23, 25);
  position: absolute;
  top: 50%;
  left: -30px;
}

.quote-box div {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.quote-box button {
  background: rgb(26, 29, 31);
  color: #fff;
  border-radius: 25px;
  border: 1px solid rgb(53, 57, 61);
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  cursor: pointer;
}

.quote-box button img {
  width: 50px;
  margin-right: 10px;
}

.quote-box button:nth-child(2) {
  background: transparent;
  color: #333;
}
